<h1>Hello World - Debug Mode</h1>
<p>If you can see this, the homepage template is working.</p>

{% schema %}
{
  "name": "Debug Hello",
  "settings": [],
  "presets": [{ "name": "Debug Hello" }]
}
{% endschema %}
